{% macro errors(input) %}
    {% for error in input %}
        <strong class="ym-message">{{error}}</strong>
    {% endfor %}
{% endmacro %}

<div class="ym-g66">
	{{ this.form.create(null,{'class':'ym-form ym-columnar'}) }}
		<fieldset>
			<legend>Register Here</legend>
			<div class="ym-fbox-text {{ errors.fullname?'ym-error':'' }}">
				{{ this.form.field('fullname') }}
				{{ _self.errors(errors.fullname) }} 
			</div>
			
			<div class="ym-fbox-text {{ errors.email?'ym-error':'' }}">
				{{ this.form.field('email') }}
				{{ _self.errors(errors.email) }} 
			</div>
			
			<div class="ym-fbox-text {{ errors.password?'ym-error':'' }}">
				{{ this.form.field('password',{'type':'password'}) }}
				{{ _self.errors(errors.password) }} 
			</div>
			
			<div class="ym-fbox-text {{ errors.retypePassword?'ym-error':'' }}">
				{{ this.form.field('retypePassword',{'type':'password', 'label':'Retype Password'}) }}
				{{ _self.errors(errors.retypePassword) }} 
			</div>
			
			<div class="ym-fbox-button">
				{{ this.form.submit('Register') }}
			</div>
		</fieldset>
	{{ this.form.end() }}
</div>