<!doctype html>
<html
    <head>
        {{this.html.charset()}}
        {{ this.html.script(['jquery/jquery-1.7.1.min', 'bootstrap/bootstrap.min']) }}
        {{this.html.style(['layout', 'custom'])}}
        {{ this.scripts() }}
        <title>Sagalaya</title>
        {{this.html.link('Icon', null, {'type' : 'icon'})}}
        <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
		</style>
    </head>
    <body>    	
		{% include "/elements/navigation.html.twig" %}
		<div class="container">			
			{% include "/elements/header.html.twig" %}			
			<div class="row">
				{{this.content()}}
			</div>
			{% include "/elements/footer.html.twig" %}			
		</div>     	
    </body>
</html>