<!doctype html>
<html>
<head>
    {{this.html.charset()}}	
	<title>Unhandled exception</title>
    {{this.html.style(['debug','lithium'])}}
    {{this.scripts()}}
    {{this.html.link('Icon', null, {'type':'icon'})}}	
</head>
<body class="app">
	<div id="container">
		<div id="header">
			<h1>An unhandled exception was thrown</h1>
		</div>
		<div id="content">
            {{this.content()}}			
		</div>
	</div>
</body>
</html>