<!doctype html>
<html>
<head>
    {{this.html.charset()}}	
	<title>{{ this.title() }}</title>
	{{ this.scripts() }}     
    {{this.html.link('Icon', null, {'type':'icon'})}}	
</head>
<body class="app">
	<div id="container">				
        {{this.content()}}					
	</div>
</body>
</html>